<h1 align = "center"> Etapa de registro</h1>

<form class="form-horizontal">
    
  <div class="form-group">
    <label for="inputNombre3" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
      <input type="nombre" class="form-control" id="inputNombre3" placeholder="Nombre">
    </div>
  </div> 

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Dirección">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Teléfono">
    </div>
  </div>

 
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Correo electrónico</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Campo de acción</label>
    <div class="col-sm-10">
      <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elegir campo... <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                <li><a href="#">Asistencia social y atención a desastres</a></li>
                <li><a href="#">Deporte y recreación</a></li>
                <li><a href="#">Derechos humanos y civiles</a></li>
                <li><a href="#">Desarrollo social y económico</a></li>
                <li><a href="#">Voluntariado</a></li>
                <li><a href="#">Educación</a></li>
                <li><a href="#">Investigación</a></li>
                <li><a href="#">Medio ambiente</a></li>
                <li><a href="#">Salud</a></li>
                <li><a href="#">Incidencia en política pública</a></li>
            </ul>
        </div>
    </div>
  </div>
  
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Zona</label>
    <div class="col-sm-10">
      <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elegir zona <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                <li><a href="#">Asistencia social y atención a desastres</a></li>
                <li><a href="#">Deporte y recreación</a></li>
                <li><a href="#">Derechos humanos y civiles</a></li>
                <li><a href="#">Desarrollo social y económico</a></li>
                <li><a href="#">Voluntariado</a></li>
                <li><a href="#">Educación</a></li>
                <li><a href="#">Investigación</a></li>
                <li><a href="#">Medio ambiente</a></li>
                <li><a href="#">Salud</a></li>
                <li><a href="#">Incidencia en política pública</a></li>
            </ul>
        </div>
    </div>
  </div>
  
  
  <div class="form-group" align = "center">

          <%= link_to "Empezar MSEV", msev_path , class: "btn btn-success btn-lg", role: "button"%>

  </div>
</form>